{% extends "!layout.html" %}

{% set css_files = css_files + ['_static/nature_fixed.css'] %}
{% set script_files = script_files + ["http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", '_static/simple-expand.js'] %}

{%- block extrahead %} 

<script type="text/javascript">
$(document).ready(function(){
	$("a[href^='http']").attr('target','_blank');
});
</script>
    
{% endblock %}

{% block sidebarlogo %}
   {{ super() }}
   &nbsp;
   
    {%- if hasdoc('copyright') %}
        {% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
      {%- else %}
        {% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
      {%- endif %}
  
<script type="text/javascript">
$('.image-reference').simpleexpand();
</script>
  
{% endblock %}


{%- block relbar2 %}{% endblock %}

{%- block footer %}{%- endblock %}


